<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Bucket-List{% endblock %}</title>
        <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text></svg>">
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:400,700">
        <link rel="stylesheet" href="{{asset('css/style.css')}}">
        <link rel="shortcut icon" href="{{asset('img/favicon.png')}}" type="image/x-icon">
    </head>
    <body>
        <div class="container">
            <header>
                <div class="logo">
                    <img src="{{asset('img/logo.png')}}" alt="logo bucket-list">
                </div>
                <nav>
                    <ul>
                        <li><a href="{{ path('app_home') }}">Home</a></li>
                        <li><a href="{{ path('app_wish_list') }}">liste wish</a></li>
                    </ul>
                </nav>
            </header>
            <main>
                {% block main %}{% endblock %}
            </main>
            <footer>
                <p>
                    &copy; {{ "now"|date("Y") }} Bucket-List
                </p>
            </footer>
        </div>
        <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>                
        {% block javascript %}{% endblock %}
    </body>
</html>
